@import "https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:400,700|Roboto:300i,400";
body {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

header {
  padding-top: 5px;
  background: linear-gradient(rgba(232, 131, 130, 0.7), rgba(230, 186, 123, 0.8)), url(Images/homebg.jpg);
  background-size: cover;
}

.w-20 {
  width: 20%;
}

.w-80 {
  width: 80%;
}

.w-33 {
  width: 33%;
}

.mb-100 {
  margin-bottom: 100px !important;
}

header {
  width: 100%;
}
.navbar-nav li a {
  color: white;
}
.navbar-nav li a:hover {
  color: #fce38a;
}
.navbar-nav li a.active {
  color: #fce38a;
}
.navbar-nav li .fas:hover {
  color: #fce38a;
}

.lead-section {
  padding-top: 130px;
  background-size: cover;
  background-position: center;
  padding-bottom: 0px;
  height: 100%;
  position: relative;
}

.lead-content {
  position: relative;
  z-index: 5;
  margin-bottom: 80px;
}

.creative-template {
  font-family: "Kaushan Script", cursive;
  color: white;
  font-size: 4vw;
  letter-spacing: 1px;
}

.lead-text {
  width: 60%;
  font-size: 7vw;
  text-align: center;
  font-weight: bold;
}

.lead-line {
  height: 2px;
  width: 60px;
}

a.learn-more {
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border: 3px solid white;
  padding: 8px 30px;
}

.progress-line {
  background-color: white;
  height: 2px;
  width: 100%;
  z-index: 7;
}

.red-line01 {
  width: 25%;
  height: 100%;
  background-color: #f38181;
}

.prog-text {
  font-size: 1.2rem;
  z-index: 9;
}

.prog-text-no {
  font-size: 1.5rem;
  font-weight: bold;
}

.section-introduction {
  max-width: 950px;
  margin-bottom: 80px;
}

.section-header01 {
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
  color: black;
}

.section-header02 {
  text-transform: uppercase;
  font-size: 30px;
  color: black;
  font-weight: bold;
  position: relative;
  margin-bottom: 80px;
}
.section-header02::after {
  content: "";
  height: 3px;
  width: 60px;
  background-color: #f38181;
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translate(-50%, 0);
}

.article-header {
  font-size: 14px;
  color: #333333;
  font-weight: bold;
  text-transform: uppercase;
}

.paragraph-text {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #807f7f;
}

.about-us {
  padding: 100px 0;
}
.about-us figure {
  overflow: hidden;
  display: inline-block;
  margin-bottom: 0 !important;
  transition: 0.3s linear;
}
.about-us figure:hover {
  box-shadow: 5px 5px 10px #95e1d3;
}
.about-us figure:hover .about-hover {
  opacity: 100;
  display: block;
}
.about-us img {
  width: 100%;
  display: block;
}

.about-hover {
  background: linear-gradient(to bottom, rgba(232, 131, 130, 0.7), rgba(230, 186, 123, 0.8));
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.super-team {
  position: relative;
  top: 50%;
  text-align: center;
  transform: translate(0%, -50%);
}
.super-team a {
  text-decoration: none;
}
.super-team .fa {
  font-size: 25px;
}

.about-hover-text {
  font-size: 18px;
  font-weight: bold;
}

.numbers {
  background-color: #95e1d3;
}

.numbers-item {
  padding: 60px 0px;
  border-bottom: 1px solid white;
  min-width: 130px;
}
.numbers-item:last-of-type {
  border-bottom: none;
}

.numbers-number {
  font-size: 72px;
  font-weight: bold;
  line-height: 80px;
  margin-bottom: 8px;
}

.numbers-text {
  font-size: 14px;
}

.services {
  padding: 100px 0;
}
.services .fa {
  font-size: 35px;
  color: #95e1d3;
}

.services-item {
  border-bottom: 1px solid white;
}
.services-item:last-of-type {
  border-bottom: none;
}

.design {
  padding-top: 100px;
  background: center;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(Images/divicebg.jpg);
  background-size: cover;
}

.design-content {
  max-width: 50%;
}
.design-content img {
  width: 100%;
  display: block;
}

.phone {
  bottom: -18%;
  right: -32%;
  max-width: 57%;
}

.comment {
  background: #F8F8F8;
  padding: 70px 0;
}

.comment_text {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  color: #807f7f;
  font-weight: 300;
  font-style: italic;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #807f7f;
  font-weight: 300;
  font-style: italic;
}

.person_name {
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
  color: black;
  padding-left: 60px;
}
.person_name::before {
  content: "";
  height: 3px;
  width: 60px;
  background-color: #f38181;
  position: absolute;
  top: 0px;
  left: 3%;
  transform: translate(-40%, 550%);
}

.carousel-control-next-icon {
  filter: invert(0.5);
}

.carousel-control-prev-icon {
  filter: invert(0.5);
}

.whatwedo {
  padding: 100px 0;
}
.whatwedo h5 .fa {
  font-size: 20px;
  color: #807f7f;
}
.whatwedo h5 button {
  color: black;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
}
.whatwedo h5 button .fa {
  font-size: 25px;
  color: #95e1d3;
}

.team {
  padding: 100px 0;
}
.team figure:hover {
  box-shadow: 10px 10px 10px #95e1d3;
}
.team figure:hover .team-hover {
  opacity: 100;
}
.team h6 {
  color: #333333;
  font-size: 14px;
}
.team img {
  width: 100%;
  display: block !important;
}
.team article {
  max-width: 80%;
}
.team article .social {
  position: relative;
  top: 50%;
  text-align: center;
  transform: translate(0%, -50%);
}
.team article a {
  text-decoration: none;
}
.team article .fa {
  color: #F38181;
  height: 40px;
  width: 40px;
  background: #FCE38A;
  line-height: 40px;
  font-size: 20px;
}
.team article .fa:hover {
  background: #F38181;
  color: #fff;
}

.team-hover {
  background: linear-gradient(to bottom, rgba(232, 131, 130, 0.7), rgba(230, 186, 123, 0.8));
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.2s linear;
}

.brands {
  background: #F8F8F8;
  padding: 50px 0;
}

.footer-dark-text {
  color: #333333;
  font-size: 12px;
  font-weight: bold;
}

.footer-light-text {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  color: #999999;
  font-size: 13px;
}

.custom-head-scrol {
  background: #fff;
  box-shadow: -21.213px 21.213px 30px 0px rgba(158, 158, 158, 0.3);
  padding-top: 0px;
}

.work {
  padding-top: 100px;
}
.work figure {
  margin: 0 !important;
  position: relative;
}
.work figure:hover .work-hover {
  opacity: 100;
}
.work .work-hover {
  background: linear-gradient(to bottom, rgba(232, 131, 130, 0.7), rgba(230, 186, 123, 0.8));
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.35s linear;
}
.work .work-hover .fa {
  color: #fff;
  font-size: 40px;
}
.work .work-hover p {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}
.work .work-hover .studio {
  color: #fff;
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
}
.work .work-info {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}
.work img {
  width: 100%;
}

.clients {
  padding: 120px 0 100px 0;
  background: center;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(Images/clientbg.jpg);
  background-size: cover;
}
.clients img {
  border-radius: 50%;
}

.client-job {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #333;
  font-style: italic;
  position: relative;
}
.client-job::after {
  content: "";
  content: "";
  height: 3px;
  width: 60px;
  background-color: #f38181;
  position: absolute;
  bottom: -13px;
  left: 0;
}

.clients-item {
  max-width: 550px;
}

.blog {
  padding: 100px 0;
}
.blog .blogDate {
  position: absolute;
  left: -2%;
  bottom: 5%;
  background: #95e1d3;
  padding: 10px;
  text-align: center;
}
.blog .blogDay {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  line-height: 30px;
}
.blog .blogMonth {
  color: white;
  font-style: italic;
  font-weight: 300;
  font-size: 1rem;
}
.blog .fa {
  color: #95e1d3;
}
.blog a {
  text-decoration: none;
  color: #807f7f;
}
.blog .blog-text {
  text-decoration: none;
  line-height: 1.5rem;
}

.map {
  padding: 50px 0;
  background: fixed;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(Images/mapbg.jpg);
  background-position: center center;
  background-size: contain;
}
.map .fa {
  color: #f38181;
  font-size: 25px;
  display: block;
}
.map a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  color: #f38181;
  position: relative;
}
.map a::after {
  content: "";
  height: 3px;
  width: 60px;
  background-color: #F38181;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translate(-50%, 0);
}

footer {
  background: #F8F8F8;
  padding-top: 75px;
}
footer .footer-logo a {
  font-size: 46px;
  font-weight: bold;
  color: #CCCCCC;
  transition: 0.1s linear;
}
footer .footer-logo a:hover {
  color: #d3d3d3;
}
footer .followers {
  font-size: 18px;
  font-weight: bold;
  color: black;
}
footer .follow-us {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  color: #807f7f;
}
footer .footer-social ul li {
  margin-left: 15px;
}
footer .footer-social a {
  text-decoration: none;
}
footer .footer-social form .btn {
  background: #95e1d3;
  border: none;
  padding: 10px 35px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5;
  color: white;
  transition: 0.3s ease;
}
footer .form-control {
  background: white;
  border: 1px solid #CCCCCC;
}
footer .form-control input {
  color: black;
}
footer .form-control::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  color: #CCCCCC;
}
footer .form-control:focus {
  color: #807f7f;
  background-color: rgba(255, 255, 255, 0.2) !important;
  border-color: #95E1D3;
  outline: 0;
  box-shadow: 0 0 3px #fff;
}
footer button:hover {
  background: #95e1d3;
}

.footer-social-content {
  height: 90px;
  overflow: hidden;
}

.input-group {
  max-width: 380px;
}

.footer-blogs a {
  text-decoration: none;
  color: #333333;
  transition: 0.15s linear;
  display: block;
}
.footer-blogs a:hover {
  color: #807f7f;
}

.insta-pics-wrap {
  max-width: 264px;
}
.insta-pics-wrap figure {
  margin: 2px;
  overflow: hidden;
}
.insta-pics-wrap figure img {
  transition: 0.35s linear;
}
.insta-pics-wrap figure:hover img {
  transform: scale(1.1);
}

.footer-instagram .view-more-photos {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  color: black;
  font-size: 13px;
}

.copyright .copy-text {
  font-size: 14px;
  color: black;
  font-weight: bold;
}
.copyright a {
  text-decoration: none;
  color: #f38181;
  font-size: 14px;
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
